.section1{
    display: flex;
    place-items: center;
    justify-content: center;
   
}

.section1>div{
   
    
    background-image: url("../../public/services/Rectangle\ 1.png");
    background-size: cover;
    max-width: 1400px;
    width:100%;
    min-width: 360px;
}
.section1>div>nav{
    display:flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.1);
   
}
.section1_NavLogo{
    /* border:1px solid black; */
    padding:5px 10px;
}
.section1_NavSearch{
    /* border:1px solid black; */
    display:flex;
    /* width:40%; */
    justify-content: space-between;
    align-items: center;
}
.section1_NavSearchbox{
    /* border:1px solid black; */
    margin: 0 20px;
}
.section1_NavSearchbox>input{
    font-size:  18px;
    
    border:none;
    padding: 7px 0px;
    padding-left: 37px;
}
.section1_NavIcons>svg:hover{
    color:black;
    rotate:5deg;
    transition-duration: 500ms;
}
.section1_NavSearchbox>svg{
   
    position: relative;
    left: -237px;
    font-size: 20px;
    top: 4px;
    /* font-weight: lighter; */
    color: grey;
    cursor:pointer;
}

.section1_NavIcons{
    font-size: 30px;
    color:white;
}
.section1_NavIcons>svg{
    /* border:1px solid black; */
    margin: 0 15px;
    cursor:pointer;
}
.section1>div>div{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:4%;
}
.section1>div>div>h1{
    color:white;
    font-size: 3rem;
}
.section2{
    display:flex;
    justify-content: center;
}
.section2>div{
    border:1px solid black;
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 100px 100px;
    max-width: 1400px;
}
.section2>div>div{
    border:1px solid black;
    padding:10px 15px;
    width:30%;
}
.basicplan{
    background-color: white;
}
.basicplan>h1{
    border:1px solid black;
    font-weight: bold;
}
.basicplan>p{
    font-size: 3rem;
    font-weight: bold;
    color:#ff9571;
}
.basicplan>p>span{
    font-size: initial;
    color:#1f5cb5;
}
/* .basicplan>ul{
    margin:10px 0px;
} */
.basicplan>ul>li{
    border:1px solid black;
    /* margin:5px 0 */
}
.basicplan>ul>li>svg{
    border:1px solid black;
}