/* .swiper {
    overflow:initial !important;
    padding: 0px 60px !IMPORTANT;
} */
.homepage_section2_slider__ZjCNH .swiper {
  padding: 0 60px !important;
}

img {
  max-width: fit-content;
}

.subscribe-box h1 {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
}

.subscribe-box p {
  color: #fff;
  font-size: 22px;
  padding: 0 13%;
}

/* =============================================sudh */
.homepage_slider1__k3wO0>div>div>div>.swiper-wrapper {
  min-height: 430px !important;
}

.homepage_slider1__k3wO0>div>div>div>.swiper-pagination {
  top: 95% !important;
}

.swiper-button-next {
  background-image: url(../../public/homepage/right_arrow.png);
  background-repeat: no-repeat;
  /* position:fixed !important; */
  background-size: 50% auto;
  background-position: center;
  /* right: 142px !important; */
  border-radius: 100%;
  /* top: 170px !important; */
  padding: 20px 22px;
  background-color: #e0e0e0;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../../public/homepage/left_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e0e0e0;
  border-radius: 100%;
  background-size: 50% auto;
  font-weight: 600;
  /* position: fixed !important; */
  /* left: 143px !important; */
  padding: 20px 22px;
  /* top: 172px !important; */
}

.swiper-button-prev::after {
  display: none;
}

.innerheading {
  text-align: center;
  margin: 0 0;
  padding: 5% 0 5% 0;
  color: #fff;
}

.planbox {
  padding: 52px 73px;
  background-color: #fff;
  height: auto;
  box-shadow: 0 0 50px #d3d3d380;
  margin: 110px 0 110px 0;
  border-radius: 8px;
}

.planbox p {
  font-size: 3rem;
  font-weight: 700;
  color: #ff9571;
  text-align: center;
}

.planbox p span {
  font-size: medium;
  color: #1f5cb5;
  text-transform: capitalize;
}

.planbox h1 {
  text-align: center;
  font-weight: 700;
  font-family: Rubik, sans-serif;
  font-size: 34px;
  margin: 0;
  padding: 0;
}

.planbox ul {
  margin: 30px 0;
  list-style-type: none;
  padding-left: 0;
}

.planbox ul li {
  margin: 5px 0;
}

.planbox ul li svg {
  margin: 5px;
  font-size: 23px;
  background-color: #f1eefe;
  border-radius: 50%;
  color: #ff9571;
  font-weight: 700;
}




.planbox a {
  padding: 15px;
  text-decoration: none;
  background-color: #ff9571;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  display: block;
  width: 149px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}


.planbox.premiumplan {
  background-color: #ff9571;
  color: #fff;
  margin: 32px 0 110px 0;
}

.premiumplan p,
.premiumplan p span {
  color: #fff;
}

.premiumplan a {
  color: #ff9571;
  background-color: #fff;
}

.premiumplan ul li svg {
  background-color: #ffa07f;
  color: #ffffff;
}

/* for sidemenu background color */
.offcanvas {
  background-color: yellow !important;
}


.accordSudh .accordion-button::after {

  background-image: url("/help/plus2.png") !important;

  background-color: #ffa07f !important;


}

.accordSudh .accordion-button:focus {
  background-color: #ff622e80 !important;
  color: white;
  border-color: #ff622e;
  box-shadow: 0 0 7px #ff622e !important;
}

.accordSudh .accordion-button {
  background-color: white !important;
}

.compbttnstyle {
  color: white !important;
  background-color: #ff9571 !important;
}

.checkout_highlight {
  border: 1px solid blue !important;
  color: blue;
  transition-duration: 300ms;
}

.ac_accordian .accordion-button:focus {
  background-color: #ffffff !important;
  /* color: white; */
  border-color: #ffffff;
  box-shadow: 0 0 7px #ffffff !important;

}

.ac_accordian .accordion-button {
  background-color: white !important;
  font-weight: 500;

}