.message{
   
    overflow-y: scroll;
    height: auto;
}
.message>div>div{
   
    display: flex;
    align-items: end;
}
.ques{
    text-align: right;
    display:flex;
    justify-content: flex-end;
}
.rply{
    text-align: left;
}
.ques>svg{
    font-size: 25px;
    color:green;

}
.rply>svg{
    font-size: 25px;
    color:orange;
}
.ques>div{
  
    width:70%;
    margin:5px 0;
    
    padding:5px 5px;
    background-color: blue;
    color: white;
    font-weight: 500;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rply>div{
   
    width:70%;
    margin:5px 5px;
    
    padding:5px 5px;
   
    background-color: lightgray;
    color:black;
    font-weight: 500;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.ques>div>p,.ques>div>span{
   
    font-size: 15px;
}
/* .rply>div{
    width:70%;
} */
.rply>div>p,.rply>div>span{
   
    font-size: 15px;
}
.rply>div>span{
    display: flex;
    justify-content: end;
}
.ques>div>p{
    margin-bottom:10px;
}
.rply>div>p{
    margin-bottom: 10px;
}
.msg_user{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg_user>img{
    border-radius: 50px;
}
.msg_user>p{
    padding: 0 5px;
    font-weight: 500;
    color:gray;
}

.msg_input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg_input>input{
    width: 100%;
    border-radius: 20px;
    border:none;
    border:1px solid gray;
    padding:10px;
    margin-left:20px;
}
.msg_input>svg{
    position:relative;
    right: 34px;
    font-size: 20px;
    top: -13px;

}